.button {
    font-size: 1.4em;
    background-color: #f0f0f0;
    border: solid 1px;
    border-right: #888;
    border-bottom: #888;
    outline: none;
}

.button:active {
    background-color: #ccc;
}

.button.double {
    grid-column: span 2;
}

.button.triple {
    grid-column: span 3;
}

.button.operation {
    background-color: #faB231;
}

.button.operation:active {
    background-color: #faB231cc;
}